@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #14002A;
  color: #fff;
}

@layer utilities {
  .text-stroke-purple {
    -webkit-text-stroke: 1px #4C1D95;
  }
}